$primary-text-color: #757575; /*цвет основного текста*/
$title-text-color: #212121; /*вторичный цвет заголовка*/
$accent-color: #2196f3; /*акцент*/
$white-color: #ffffff; /*белый цвет*/
$timing-tunction: cubic-bezier(0.4, 0, 0.2, 1)